<html>
    <head>
        <title> Delete an item </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
            
<body>

    <div class='container'>

            <div class='header'>
                <h1><a href="/">Catalog App</a></h1>
                <div class="logout_button"><a href="/gdisconnect">Log out</a></div>


            </div>
        
            <div class='message'>
        
            </div>
        
            <div class='content'>
        
                <div class='main'>
                    <h3> Delete Item </h3>
                    <div class='mainoutput'>
                        <h3>Are you sure you want to delete {{item.name}}? </h3>
                        <form action="{{url_for('deleteItem', category_name=item.category.name, item_name=item.name)}}" method = 'post'>

                        <input type='submit', value = 'Delete'>
                        
                        </form>
                        
                        <a href = "{{ url_for('categoryList', category_name = item.category.name)}}"> Cancel </a>                    
                    </div>
        
                </div>
            </div>
        
            <div class='footer'>
                <p>Udacity Full Stack Developer Nanodegree - Tu Duong</p>
            </div>
        </div>
</body>

</html>
