<html>
    <head>
        <title> Edit an item </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
            
<body>

    <div class='container'>
    
            <div class='header'>
                    <h1><a href="/">Catalog App</a></h1>
                    <div class="logout_button"><a href="/gdisconnect">Log out</a></div>

            </div>
        
            <div class='message'>
        
            </div>
        
            <div class='content'>
        
        
                <div class='main'>
                    <h3> Edit Item </h3>
                    <div class='mainoutput'>
                        <form action="{{url_for('editItem',item_name=item.name)}}" method = 'POST'>

                            <p>Name:</p>
                            
                            <input type='text' size='80' name='name' value='{{item.name}}'>
                            
                            <p>Description:</p>
                            
                            <input type='text' size='80' name='description'value='{{item.description}}'>
                            
                            <p>Category:</p>
                            
                            <select name='new_category'>
                                {% for i in categories %}
                                <option value='{{i.id}}'>'{{i.name}}</option>
                                {% endfor %}
                            </select>
                            
                            <br>
                            <br>

                            <input type='submit' value='Submit'>
                            
                            </form>
                            
                            <a href= '{{url_for('categoryList',category_name=item.category.name)}}'>Cancel</a>
                    </div>
        
                </div>
            </div>
        
            <div class='footer'>
                <p>Udacity Full Stack Developer Nanodegree - Tu Duong</p>
            </div>
        </div>
</body>
</html>