<html>

<head>
    <title> Add new item </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

        <div class='container'>
        
                <div class='header'>
                        <h1> Catalog App </h1>
                </div>
            
            
                <div class='content'>
            
                    <div class= 'nav'>
                        <h3>New item</h3>

                    </div>
            
                    <div class='main'>
                        <div class='actiontop'>
    

                        </div>
                        <div class='mainoutput'>
                                <h3>New Item</h3>
                                <form action="{{url_for('newItem')}}" method = 'POST'>

                                        <p>Name:</p>
                                        
                                        <input type='text' size='80' name='name'>
                                        
                                        <p>Description:</p>
                                        
                                        <input type='text' size='80' name='description'>
                                        <p></p>

                                        <p>Category:</p>
                            
                                        <select name='category'>
                                            {% for i in categories %}
                                            <option value='{{i.id}}'>'{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        <br>
                                        <br>
            
                                        <input type='submit' value='Create'>
                                    </form>
    
                        </div>
                        <div class='actionbottom'>
                        

                        </div>                    
            
                    </div>
                </div>
            
                <div class='footer'>
                    <p>Udacity Full Stack Developer Nanodegree - Tu Duong</p>
                </div>
            </div>
  
</body>
</html>

