<html>

<head>
    <title> Item Details </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class='container'>

    <div class='header'>
        <h1><a href="/">Catalog App</a></h1>

        {% if isloggedin == 0 %}
			<div class="login_button"><a href="/login">Log in</a>

            </div>
		{% endif %}

        {% if isloggedin == 1 %}
            <div class="logout_button"><a href="/gdisconnect">Log out</a>

            </div>
		{% endif %}
        
    </div>

    <!--MESSAGE FLASHING EXAMPLE -->
    <div class='message'>
    </div>

    <div class='content'>

        <div class='main'>
            <h1>{{item.name}}</h1>

            <div class='mainoutput'>
                    <p>{{item.description}}</p>
                    <p></p>
            </div>

        </div>
    </div>

    <div class='footer'>
        <p>Udacity Full Stack Developer Nanodegree - Tu Duong</p>
    </div>
</div>

</body>

</html>